.header {

    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.layout-header {

    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}


.header-title {

    text-decoration: none;
    color: var(--color-text);
}

.header-title-it {

    padding: 6px;
    background-color: var(--color-primary);
    color: #FFFFFF;
    border-radius: 5px;
}

.header-details {

    display: flex;
    gap: 60px;
    justify-content: space-between;
}

.header-link {

    transition: all .3s ease-in;
    color: var(--color-text);
    font-weight: 600;
}

.header-link:hover {

    color: var(--color-primary);
}

.header-register {

    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
}

.user {

    width: 40px;
    height: 40px;
    background-color: var(--color-primary);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.islogged {

    position: relative;
}

.userdetailsopened {

    position: absolute;
    top: 50px;
    left: -206px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 30px 60px;
    z-index: 1000;
    background-color: var(--color-white);

    transform-origin: left center;

    opacity: 0;
    transform: translate(20px, -5px);
    pointer-events: none;

    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
    }

.userdetailsopened.open {

    opacity: 1;
    transform: translate(0,0);
    pointer-events: auto;
}

.flex-link {

    display: flex;
    flex-direction: row;
    gap: 8px;
}

@media screen and (max-width: 1150px) {
    
    .header-details {

        gap: 45px;
    }
}

@media screen and (max-width: 991px) {
  
    .header {

        height: 90px;
    }

    .header-details {

        gap: 30px;
    }
}


@media screen and (max-width: 575px) {
    
    .header {

        height: 80px;
    }

    .header-title-it {

        padding: 5px;
    }

    .container-header {

        padding: 0px 20px;
    }
}