* {

  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

:root {

  /* ===== Primary Colors ===== */

  --color-primary: #2563EB;        /* Primary 600 */
  --color-secondary: #059669;      /* Secondary 600 */

  /* ===== Base UI Colors ===== */

  --color-background: #F5F5F5;     /* White */
  --color-surface: #F3F4F6;        /* Neutral 100 */
  --color-border: #D1D5DB;         /* Neutral 300 */

  /* ===== Text Colors ===== */

  --color-text: #111827;           /* Neutral 900 */
  --color-text-muted: #6B7280;     /* Neutral 500 */

  /* ===== Other Colors ===== */

  --color-white: #FFFFFF;

}

.main_layout_cstm  {

  padding-top: 120px;
  padding-bottom: 30px;
  justify-content: center;
}

.main_layout_login  {

  padding-top: 220px;
  padding-bottom: 130px;
}

.containercstm {

  width: 100%;
  max-width: 1300px;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container_layout {

  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

.deco-none {

  text-decoration: none;
}

d-flex {

  display: flex;
}

.flex-column {

  flex-direction: column;
}

.flex-row {

  flex-direction: row;
}

.align-center {

  align-items: center;
}

.justify-between {

  justify-content: space-between;
}

.justify-center {

  justify-content: center;
}

.gap-10 {

  gap: 10px;
}

.gap-20 {

  gap: 20px;
}

.gap-resp {

  gap: 20px;
}

@media screen and (max-width: 1600px) {
  

  .containercstm {

    max-width: 1250px;
  }
}

@media screen and (max-width: 1400px) {
  

  .containercstm {

    max-width: 1050px;
  }
}

@media screen and (max-width: 1200px) {
  

  .containercstm {

    max-width: 991px;
  }
}

@media screen and (max-width: 991px) {
  

  .containercstm {

    max-width: 100%;
  }

  .main_layout_login {

    padding-top: 120px;
    padding-bottom: 30px;
  }
}


@media screen and (max-width: 575px) {
  
  .containercstm {

    padding: 15px;
    gap: 15px;
  }

  .container_layout {

    gap: 15px;
  }

  .main_layout_cstm  {

    padding-top: 80px;
    padding-bottom: 0px;
    gap: 15px;
  }

  .main_layout_login  {

    padding-top: 80px;
    padding-bottom: 0px;
  }

  .gap-resp {

    gap: 15px;
  }

}