/* =====================================
   Global Typography
===================================== */

body {
  font-family: "Inter", sans-serif;
  letter-spacing: -0.03em;
}

/* Font Weight Utilities */

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}


/* =====================================
   Desktop (default) 1024px+
===================================== */

.h1 {
  font-size: 56px;
  line-height: 70px;
}

.h2 {
  font-size: 40px;
  line-height: 50px;
}

.h3 {
  font-size: 32px;
  line-height: 40px;
}

.h4 {
  font-size: 24px;
  line-height: 32px;
}

.body-text {
  font-size: 16px;
  line-height: 24px;
}

.body-small {
  font-size: 14px;
  line-height: 21px;
}

.label-text {
  font-size: 12px;
  line-height: 18px;
}

/* =====================================
   TabletPlus (992px - 1023px)
===================================== */

@media screen and (max-width: 1023px) {

  .h1 {
    font-size: 56px;
    line-height: 70px;
  }

  .h2 {
    font-size: 40px;
    line-height: 50px;
  }

  .h3 {
    font-size: 32px;
    line-height: 40px;
  }

  .h4 {
    font-size: 24px;
    line-height: 32px;
  }

  .body-text {
    font-size: 16px;
    line-height: 24px;
  }

  .body-small {
    font-size: 14px;
    line-height: 21px;
  }

  .label-text {
    font-size: 12px;
    line-height: 18px;
  }

}

/* =====================================
   Tablet (576px - 991px)
===================================== */

@media screen and (max-width: 991px) {

  .h1 {
    font-size: 40px;
    line-height: 50px;
  }

  .h2 {
    font-size: 34px;
    line-height: 42px;
  }

  .h3 {
    font-size: 28px;
    line-height: 36px;
  }

  .h4 {
    font-size: 22px;
    line-height: 28px;
  }

  .body-text {
    font-size: 14px;
    line-height: 24px;
  }

  .body-small {
    font-size: 12px;
    line-height: 21px;
  }

  .label-text {
    font-size: 11px;
    line-height: 18px;
  }

}

/* =====================================
   Mobile (0px - 575px)
===================================== */

@media screen and (max-width: 575px) {

  .h1 {
    font-size: 32px;
    line-height: 40px;
  }

  .h2 {
    font-size: 28px;
    line-height: 35px;
  }

  .h3 {
    font-size: 24px;
    line-height: 31px;
  }

  .h4 {
    font-size: 20px;
    line-height: 28px;
  }

  .body-text {
    font-size: 12px;
    line-height: 18px;
  }

  .body-small {
    font-size: 10px;
    line-height: 16px;
  }

  .label-text {
    font-size: 8px;
    line-height: 12px;
  }

}