#signup {

    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.signupfirstdiv {

    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.signupseconddiv {

    width: 50%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.signup-form-twoforms {

    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
}

.signup-form-oneforms {

    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    
}

.input-field-cstm {

    height: 40px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    padding: 0px 10px;
    border-radius: 5px;
}

.input-field-cstm:focus {

    border: 1px solid var(--color-primary);
    outline: none;
}

.signupforms {

    display: flex;
    flex-direction: column;
    gap: 20px;
}